html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding:0;
  color: #222;
  lineheight: 1.5;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  max-width: 800px;
  margin: 0 auto;

}
.flex{
  display: flex;
  gap: 3%;
}

.card{
  width: 50%;
  background-color: #f80;
  padding: 2em;
}

.card h3{
  margin-top: 0;
}
