html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding:0;
  color: #222;
  lineheight: 1.5;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  max-width: 800px;
  margin: 0 auto;

}
.flex{
  display: flex;
  gap: 3%;
}

.card{
  width: 50%;
  background-color: #f80;
  padding: 2em;
}

.card h3{
  margin-top: 0;
}

.hero-banner {
   width: 80%;
   height: 80vh;
   background-image: url('./css/images/HAND_VECTOR-4_copy.pdf');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   filter: grayscale(70%)
  }
  .top-stories {
  max-width: 1080px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  font-style: italic;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:1.5rem;
}

article {
  border: 3px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  }

article > img {
  height: 15vw;
  object-fit: cover;
}
.article-details {
  display: flex;
  flex-direction: column;
  padding: .5rem;
}
.author-info{
  display: flex;
  gap: .5rem;
  align-items: center;
/*   margin-top: auto; */
}
.author-info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
